{
  "extends": "eslint-config-synacor",
  "rules": {
    "indent": [2, 2],
    "arrow-body-style": ["error", "as-needed"],
    "no-trailing-spaces": "off",
    "react/jsx-indent-props": [2, 2],
    "comma-dangle": [2]
  }
}
