.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  overflow: scroll;
}

.modal {
  position: absolute;
  //background: #fff;
  top: 25px;
  margin-bottom: 40px;  // don't use "bottom"
  left: 10%;
  right: 10%;
  //padding: 15px;
  //border: 2px solid #444;
  display: block;
}

@keyframes modal-slide-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  25% {
    opacity: .5;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.modalAnimation {
  animation-duration: .4s !important;
  animation-name: modal-slide-from-bottom;
}

.noScroll {
  overflow: hidden;
}
