.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  overflow: scroll;
}

.modal {
  position: absolute;
  //background: #fff;
  top: 25px;
  margin-bottom: 40px;  // don't use "bottom"
  left: 10%;
  right: 10%;
  //padding: 15px;
  //border: 2px solid #444;
  display: block;
}

.noScroll {
  overflow: hidden;
}
