@import '~style/helpers.scss';

.layout {
  position: relative;
}

.homeNavbar {
  position: absolute;
}

.navbar {
  @include max-md() {
    background-color: $brand-concrete !important;
    border-bottom: 1px solid rgba(black, .75);
    margin-bottom: 1.4em;
  }
}

.navbarBrand {
  position: relative;
  display: inline-block;
  color: $body-color !important;
}

.alphaBadge {
  margin-left: 10px;
  font-size: 8px;
  opacity: .8;
  color: rgba(black, .5);
  position: absolute;
  top: 9px;
  left: 100%;
  border: 1px solid rgba(black, .5);
}
