@import '~style/helpers.scss';


.topLayoutBand,
.ctaLayoutBand {
  background-color: $blue-concrete; //#d40c58;
  //color: white;
}

.topLayoutBand {
  padding-bottom: 1em;
}

.layoutHeadline {
  padding-top: 7em;
  padding-bottom: 2em;
}

.layoutFeatures {
  padding-top: 1em;
  padding-bottom: 3em;
}

.featureBlock {
  position: relative;
}

.comingSoonBadge {
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 1px;
  color: rgba(white, .8);
  //font-weight: 200;
  letter-spacing: .25px;
}


.headline {
  h2 {
    font-size: 3.6em;
    line-height: 1.1875em;
    margin-top: 0;
    margin-bottom: 0.25em;
  }

  p {
    line-height: 1.6;
  }
}

.conditionMark {
  margin-left: 3px;
}

.headlineCta {
  margin-top: 3em;
  .btn {
    color: white !important;
  }
}

.alertBanner {
  background: $gray-300; //#e0e0e0;;
  padding: 12px;
  text-align: center;
  p {
    font-weight: 200;
    padding: 0;
    margin: 0;
  }
}

.lowerLayoutBand {
  padding-top: 2em;
  padding-bottom: 2em;
}

.howtoBand,
.featureBanner {
  padding-top: 2em;
  padding-bottom: 2em;
}

.howtoBannerTop {

}

.howtoBannerLower {

}

.howtoCard {
  img {
    margin-bottom: 1em;
  }
}

.ctaLayoutBand {
  padding-top: 2em;
  padding-bottom: 2em;
}

.ctaBanner {
  form {
    align-items: center;
    justify-content: center;
  }
  font-size: 1.25rem;
  button {
    margin-bottom: 0;
  }
}

.valuepropBanner {
  display: flex;
  margin-bottom: 1em;
  width: 100%;
}

.valuepropIcon,
.valuepropProp {
  padding: 1em;
}

.valuepropIcon {
  margin-top: 1em;
}

.valuepropProp {
  flex: 1;
}


.footerBand {
  background: #e0e0e0;
  padding-top: 2em;
  padding-bottom: 2em;
}
