@import '~style/helpers.scss';

.home {

}

:global(.navbar-brand) {
  position: relative;
  display: inline-block;
}
.alphaBadge {
  margin-left: 10px;
  font-size: 8px;
  opacity: .8;
  color: #d40c58;
  position: absolute;
  top: 9px;
  left: 100%;
}

.topLayoutBand,
.lowerCtaLayoutBand {
  background-color: #d40c58;
  color: white;
}

.layoutHeadline {
  padding-top: 6em;
  padding-bottom: 2em;
}

.layoutFeatures {
  padding-top: 1em;
  padding-bottom: 3em;
}

.featureBlock {
}

.comingSoonBadge {
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  top: 0;
}

.headline {
  h2 {
    font-size: 3.6em;
    line-height: 1.1875em;
    margin-top: 0;
    margin-bottom: 0.25em;
  }

  p {
    line-height: 1.6;
  }
}

.headlineCta {
  margin-top: 3em;
  .btn {
    color: white !important;
  }
}

.lowerLayoutBand {
  padding-top: 2em;
  padding-bottom: 2em;
}

.featureBanner {
  padding-top: 2em;
  padding-bottom: 2em;
}

.lowerCtaLayoutBand {
  padding-top: 2em;
  padding-bottom: 2em;
}

.ctaBanner {
  form {
    align-items: center;
    justify-content: center;
  }
  font-size: 1.25rem;
  button {
    margin-bottom: 0;
  }
}


.footerBand {
  background: #e0e0e0;
  padding-top: 2em;
  padding-bottom: 2em;
}
