@import '~style/helpers.scss';


.topLayoutBand,
.ctaLayoutBand {
  background-color: $blue-concrete; //#d40c58;
  //color: white;
}

.topLayoutBand {
  padding-bottom: 1em;
}

.layoutHeadline {
  padding-top: 5em;
  padding-bottom: 2em;

  @include xs() {
    padding-top: 3em;
    padding-bottom: 1em;
  }
}

.layoutHeadlineText {
  padding-right: 100px !important;
}

.productImageContainer {
  margin-top: -2em;
  float: right;

  @include max-lg() {
    display: none;
    float: none;
  }
}

.layoutFeatures {
  padding-top: 1em;
  padding-bottom: 3em;
}

.featureBlock {
  position: relative;
}

.comingSoonBadgeContainer {
  display: block;
  @include xs() {
    text-align: center;
    font-size:10px;
  }
}

.comingSoonBadge {
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 1px;
  color: rgba(white, .8);
  //font-weight: 200;
  letter-spacing: .25px;
}

.headline {
  h2 {
    margin-top: .25em;
    margin-bottom: 0.5em;

    @include xs() {
      text-align: center;
    }

    @include md() {
      font-size: 3.2em;
      line-height: 1.05em;
    }
  }

  p {
    line-height: 1.6;

    @include xs() {
      text-align: center;
      font-size: 1em;
    }
  }
}

.loginCaveat {
  line-height: 1.2;
}

.conditionMark {
  margin-left: 3px;
}

.headlineCta {
  margin-top: 3em;

  .btn {
    color: white !important;
  }

  @include xs() {
    margin-top: 1em;
    margin-bottom: 2em;

    .btn {
      font-size: 1em !important;
    }
  }
}

.alertBanner {
  background: $gray-300; //#e0e0e0;;
  padding: 12px;
  text-align: center;
  p {
    font-weight: 200;
    padding: 0;
    margin: 0;
  }
}

.lowerLayoutBand {
  padding-top: 2em;
  padding-bottom: 2em;
}

.howtoBand,
.featureBanner,
.snippetBetaBand {
  padding-top: 2em;
  padding-bottom: 2em;
}

.howtoBannerTop {
  @include xs() {
    h3 {
      font-size: 1.4em;
    }
  }
}

.howtoBannerLower {

}

.howtoCard {
  img {
    margin-bottom: 1em;
    border: 2px solid $gray-900;
    //box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}

.ctaLayoutBand {
  padding-top: 2em;
  padding-bottom: 2em;

  @include xs() {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
  }
}

.ctaBanner {
  form {
    align-items: center;
    justify-content: center;
  }
  font-size: 1.25rem;

  @include xs() {
    font-size: 1.1rem;
    text-align: center;

    label {
      margin-bottom: .8rem;
    }
  }

  button {
    margin-bottom: 0;
  }
}

.valuepropBanner {
  display: flex;
  margin-bottom: 1em;
  width: 100%;

  @include xs() {
    margin-bottom: 0em;
  }
}

.valuepropIcon,
.valuepropProp {
  padding: 1em;

  @include xs() {
    padding: .25em;
  }
}

.valuepropIcon {
  margin-top: 1em;

  @include xs() {
    margin-top: 0em;
    padding-left: 0;

    img {
      width: 50px;
      height: 50px;
    }
  }
}

.valuepropProp {
  flex: 1;

  @include xs() {
    padding-right: 0;
    h3 {
      font-size: 1.2em;
    }
  }
}

.snippetBetaBand.snippetBetaBand {
  text-align: center;

  p {
    margin-bottom: 0;
  }
}



.tempCtaButton {
  border-width: 3px !important;
  //font-weight: bold !important;
  color: #D40C59 !important;
  background: white !important;
}
