//$_primary: #d40c59;
//$_secondary: #D5EF0E;
//$_tertiary: #0aaf52;
//$_fourthery: #F53E0E;
//$_fifthery: #A9CEF4;

$brand-color-primary: #D40C59;
$brand-color-secondary: #3E4D7D;
$brand-color-highlight: #D5EF0E;
$brand-color-highlight-alt: #1C949B;
$brand-color-offwhite: #E3E4E2;
$brand-color-black: #1B151F;

$brand-color-highlight-40: #EDF89D;
$brand-color-highlight-60: #E7F36D;

//$brand-color-other: #63A2C9;
//$brand-color-other: #88D055;


$brand-concrete: #f2f2f2;
$brand-primary: #D40C59;
$brand-secondary: #2283A7;
$brand-highlight: #D5EF0E;
$blue-concrete: #ebecf0;
