@import '~style/helpers';

.mdc-fab {
  background-color: $brand-primary;
}

.mdc-fab__icon {
  color: white;
}

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 10000;
}

@media(min-width: 1024px) {
  .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
