@import '~style/helpers';

.titleBlock {
  display: flex;
  align-items: center;
  margin-bottom: 1em;

  min-height: 85px;
}

.titleBlockLhs {
  flex: 1;
}

.titleBlockRhs {
  padding-top: 1em;
  .btn {
    margin-bottom: 0;
  }
}

.supTitle {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
}

.schoolNameBadge {
  background: rgba($primary, .1);
  padding: 4px 8px;
  border-radius: .5rem;
}

.tabPageContainer {
  padding: 2em 0;
}

.tabAddProgramBtn {
  @include clearfix;
  button {
    float: right
  }
}
