@import '~style/helpers';

.stampBtnList {
  display: inline-block;

  @include clearfix();

  li {
    list-style-type: none;
    margin-right: 1em;
    float: left;
  }
}

.button {
  border: 1px solid $gray-300;
}


input[type="checkbox"] { display: none; }
label { background-color: #eee; }
input[type="checkbox"]:checked+label { background-color: #aaa; }


.label {
  background-color: #eee;
}

.checkbox {
  display: none;

  &:checked+label {
    background-color: #aaa;
  }
}
