@import '~style/helpers.scss';

.program {
  border: 1px solid #d7dbdb;
  border-radius: 3px;
  position: relative;
}

/**
  Empty type
 */

.emptyProgram {
  @extend .program;
  border-style: dashed;
  text-align: center;
  border-radius: 5px;
  padding: 50px calc(50% - 400px) 50px;
}

.emptyProgramIcon {
  margin-bottom: 2rem;
}

.emptyProgamTitle {
  color: #9fa1a2;
  font-weight: 400;
}

.emptyProgamSubTitle {
  color: $primary;
  font-weight: 200;
}

.emptyProgramHelpText {
  max-width: 550px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.7;
}


/**
  Standard type
 */

.programLhs {
  background: white;
  padding: 24px 18px;
  width: 290px;
  position: relative;
}

.programRhs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 290px;
  background: #f4f6f6;
  padding: 18px;
}

.programStatusLabel {
  position: absolute;
  top: -12px;
}

.programUpdatedAt {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #9fa1a2;
}

.programActions {
  margin: 18px 0 24px;
}

.programStaffAvatars {
  padding: 5px;
  margin-right: 4px;
  display: inline-block;
  margin-top: 2px;
  width: 30px;
  height: 30px;
  color: $dark;
}

.programMetaList {
  dd:last-child {
    margin-bottom: 0;
  }
}

.programMetaLabel {
  display: block;
  color: #464c4f;
  font-size: 11px;
  text-transform: uppercase;
}

.programMetaValue {
  display: block;
  color: #9fa1a2;
  font-size: 14px;
  font-weight: 400;

  .programLhs & {
    padding-bottom: 10px;
  }
}
