@import '~style/helpers.scss';

.footer {
  background: $det-brand-header-grey;
  //padding-top: 2em;
  //padding-bottom: 2em;

  padding: 24px 0 40px;

  a {
    color: #333;
    text-transform: uppercase;
    font-size: .825rem;
    font-weight: 600;
    text-decoration: none;
  }
}
