@import '~style/helpers';

.fieldSection {
  margin-bottom: 2em;

  @include xs() {
    margin-bottom: 0;
  }
}

.itemprop {

}

.itempropKey,
.itempropValue {
  display: block;
}

.itempropKey {
  margin-bottom: 0;
  font-weight: bold;
}

.itempropValue {

}


.fieldTitle {
  font-weight: bold;
}

.dateMeta {
  font-size: .85rem;
  margin-bottom: .25rem;
  background: $light;
  padding: .5rem .75rem;
  border-radius: .25rem;
  color: $gray-600;
}

.schoolName {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
}

@include xs() {
  .metaPanelCard {
    border: none !important;
  }
  .metaPanelCardBody {
    padding: 0 !important;
  }
}

